@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-neutral-50: 249, 250, 251;
    --color-neutral-100: 243, 244, 246;
    --color-neutral-200: 229, 231, 235;
    --color-neutral-300: 209, 213, 219;
    --color-neutral-400: 156, 163, 175;
    --color-neutral-500: 107, 114, 128;
    --color-neutral-600: 75, 85, 99;
    --color-neutral-700: 55, 65, 81;
    --color-neutral-800: 31, 41, 55;
    --color-neutral-900: 17, 24, 39;
  }
}

.theme-everglade {
  --color-primary-50: 147deg, 43%, 96%;
  --color-primary-100: 146deg, 41%, 90%;
  --color-primary-200: 149deg, 40%, 80%;
  --color-primary-300: 151deg, 38%, 67%;
  --color-primary-400: 154deg, 34%, 52%;
  --color-primary-500: 156deg, 45%, 39%;
  --color-primary-600: 157deg, 50%, 30%;
  --color-primary-700: 159deg, 50%, 24%;
  --color-primary-800: 160deg, 47%, 20%;
  --color-primary-900: 160deg, 46%, 18%;
  --color-primary-950: 161deg, 48%, 9%;
}

.theme-woodsmoke {
  --color-primary-50: 240deg, 5%, 96%;
  --color-primary-100: 240deg, 2%, 90%;
  --color-primary-200: 220deg, 3%, 82%;
  --color-primary-300: 230deg, 4%, 69%;
  --color-primary-400: 233deg, 3%, 53%;
  --color-primary-500: 232deg, 4%, 43%;
  --color-primary-600: 230deg, 3%, 36%;
  --color-primary-700: 240deg, 3%, 31%;
  --color-primary-800: 240deg, 3%, 27%;
  --color-primary-900: 240deg, 2%, 24%;
  --color-primary-950: 240deg, 3%, 7%;
}

.theme-light {
  --neutralBg: var(--color-neutral-50);
  --onNeutralBg: var(--color-neutral-900);
  --primaryBg: var(--color-primary-100);
  --secondaryBg: var(--color-primary-400);
  --onPrimaryBg: var(--color-primary-900);
  --primary: var(--color-primary-500);
}

.theme-dark {
  --neutralBg: var(--color-neutral-900);
  --onNeutralBg: var(--color-neutral-50);
  --primaryBg: var(--color-primary-900);
  --secondaryBg: var(--color-primary-400);
  --onPrimaryBg: var(--color-primary-100);
  --primary: var(--color-primary-400);
}
